/* You can add global styles to this file, and also import other style files */
.lit-text {
  text-decoration: underline dotted rgba(0, 0 ,0, 0.2);
}
.lit-text:hover {
  text-decoration: underline dotted rgba(0, 0 ,0, 1);
}

.scrapyard {
  background-color: darkgray;
}
